name: Jest Workflow

on:
  push:
  pull_request:
    branches: [dev, main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 20.x
        uses: actions/setup-node@v2
        with:
          node-version: 20.x
      - name: yarn install, build, and test
        run: |
          cd ./visualizer
          yarn install --frozen-lockfile
          yarn build
          yarn test
